<nav class="p-3 h-full flex flex-col gap-3 overflow-y-auto scrollbar-hide">
  <div class="flex gap-2 items-center">
     <div
      class="w-10 h-10 bg-[#ffffff1a] backdrop-blur-sm rounded-[6px] flex items-center justify-center"
    >
      <span class="font-bold text-[#f59e0b] text-[30px] pb-1">D</span>
    </div>
    <h1 class="text-lg sm:text-xl font-medium">
      Devaxix<span
        class="font-semibold bg-gradient-to-r from-[#F97316] to-[#f59e0b] text-transparent bg-clip-text"
        >POS</span
      >
    </h1>
  </div>
    <div class="w-full border border-gray-700 rounded-lg p-2 mt-4 mb-2 cursor-pointer hover:bg-gray-500/20 transition-all flex items-center gap-3">
    <div class="h-12 w-12 bg-blue-500 rounded-lg flex justify-center items-center">
      {{profileName}}
    </div>
    <div class="flex flex-col">
      <span class="font-semibold text-sm">{{user?.firstName + ' ' + user?.lastName}}</span>
      <span class="text-xs text-[#aeaeb2]">{{user?.role}}</span>
    </div>
  </div>
  <div>
    <div class="text-[12px] text-[#aeaeb2] mb-4 mt-3 uppercase">Main Navigation</div>
    <ul class="">
    @for (item of sidebarService.menu(); track $index) {
      <li class="">
        <a
          class="flex justify-between items-center px-2  font-medium uppercase tracking-wider text-xs  transition-all min-h-[35px] bg-primary-white text-[#aeaeb2]"
          [ngClass]="item.active?'text-[#f59e0b]':'hover:text-white'"
          [title]="item.title"
          [routerLink]="item.link">
          <div class="flex justify-center gap-3">
            <i class="pi pi-{{item.icon}}"></i>
            <span class="">{{item.title}}</span>
          </div>
          @if (sidebarService.menuHasChildren(item)) {
            <i class="pi pi-chevron-down transition-base" [ngClass]="{'rotate-180':item.active}"></i>
          }
          </a
        >
        @if (sidebarService.menuHasChildren(item) && item.active) {
          <ul [@collapse] class="border-l-2 border-gray-700 ml-4">
             @for (cItem of item.children; track $index) {
               <li>
                 <a
                   class="flex items-center gap-3 -ml-1.5 font-medium uppercase tracking-wider text-xs  transition-all min-h-[30px] bg-primary-white text-[#aeaeb2]"
                   [ngClass]="cItem.active?'text-[#f59e0b]':'hover:text-white'"
                   [title]="cItem.title"
                   [routerLink]="cItem.link">
                   <i class="pi pi-{{cItem.icon}}" style="font-size: 0.7rem;"></i>
                   <span class="">{{cItem.title}}</span></a
                 >
               </li>
             }
           </ul>
        }
      </li>
    }
    </ul>
  </div>

</nav>
