@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar {
  -webkit-overflow-scrolling: touch;

  /* Hide scrollbar (Chrome, Safari, Edge) */
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE/Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}


//table

:host ::ng-deep .p-datatable-wrapper {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

:host ::ng-deep .p-datatable-wrapper::-webkit-scrollbar {
  display: none !important;
}
