@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./app/shared/primeng/scss/checkbox.scss');
@import url('./app/shared/primeng/scss/table.scss');

.no-scrollbar {
  -webkit-overflow-scrolling: touch;

  /* Hide scrollbar (Chrome, Safari, Edge) */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
