

<div class="h-screen">
  <!-- Sidebar -->
  <app-topBar class="w-full" (toggleSidebar)="toggleSidebar($event)"></app-topBar>
  <!-- Main Content Area -->
  <div class="flex-1 flex h-[calc(100vh-64px)]">
    <!-- Header -->
    <app-sidebar
      class="bg-[#1d1d1f] text-white transition-base overflow-hidden"
      [ngClass]="isSidebarOpen() ? 'w-[14rem]' : 'w-0'"
    ></app-sidebar>

    <div class="flex flex-col flex-1">
       <!-- Main Content -->
       <div class="flex-1 bg-white overflow-auto" [@fadeAnimation]="router.url">
         <router-outlet></router-outlet>
       </div>

       <!-- Footer -->
       <div class="bg-[#1d1d1f] text-white p-2 text-center">
         <p>Footer content goes here</p>
       </div>

     </div>
  </div>
</div>

